<h1>Show Finder</h1>
<article>
    <p>This website allows you to search through the <span class="bold">TV Maze API</span> for a keyword. Searching for shows yields details about them.</p>
    <form id="search-form" method="POST" action="/searchshows">
        <label for="search">Search</label>
        <input id="search" type="text" name="showSearchTerm" />
        <button form="search-form" type="submit">Submit</button>
    </form>
</article>