<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/main_styles.css">
    <title>{{{title}}}</title>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>