<section id="signup-box">
    <h1>Sign Up</h1>
    {{#if error}}
    <p>Error: {{{error}}}</p>
    {{/if}}
    <form id="signup-form" method="POST" action="/signup">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username" />
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" />
        <br>
        <button id="signup-button" form="signup-form" type="submit">Sign Up</button>
    </form>
    <a id="signup-link" href="/">Already have an account? Click here to log-in</a>
</section>