<form id="number-form">
    <label for="number-input">Enter number:</label>
    <input id="number-input" name="number" type="number" placeholder="Number">
    <button form="number-form" type="submit">Submit</button>
</form>
<p id="error" hidden>Error: Input cannot be empty</p>
<ul id="attempts"></ul>